body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.fruit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 15rem;
  text-align: center;
}

/*
.fruit-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fruit {
  border: 1px solid black;
  width: 15rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem 10rem;
  margin-bottom: 2px;
}

.form {
  margin: 2rem 0rem;
} */
